* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
}
nav {
  background-color: black;
}
nav div ul {
  display: flex;
  margin: 0;
  padding: 0;
  width: 50%;
}
nav div ul li {
  list-style-type: none;
  padding: 10px;
}
nav div ul li {
  list-style-type: none;
  padding: 10px;
}
nav div ul li a {
  text-decoration: none;
  color: white;
}
nav div ul li a:hover {
  font-size: 1.1rem;
  font-weight: 800px;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
nav div {
  display: flex;
  flex-direction: row;
}
nav div ul.logout {
  display: flex;
  justify-content: flex-end;
}
